In [1]:
import pandas as pd
import numpy as np

In [15]:
event_mapping = pd.read_excel("cameo_event_codes.xlsx")
actor_mapping = pd.read_excel("cameo_actor_codes.xlsx")

In [5]:
event_mapping

     CAMEOEVENTCODE                                   EVENTDESCRIPTION
0                 1                              MAKE PUBLIC STATEMENT
1                10                Make statement, not specified below
2                11                                    Decline comment
3                12                           Make pessimistic comment
4                13                            Make optimistic comment
..              ...                                                ...
305             202                            Engage in mass killings
306             203                         Engage in ethnic cleansing
307             204  Use weapons of mass destruction, not specified...
308            2041   Use chemical, biological, or radiologicalweapons
309            2042                           Detonate nuclear weapons

[310 rows x 2 columns]

In [16]:
actor_mapping

   CODE                                LABEL
0   COP                        Police forces
1   GOV                           Government
2   INS                           Insurgents
3   JUD                            Judiciary
4   MIL                             Military
5   OPP                 Political Opposition
6   REB                               Rebels
7   SEP                    Separatist Rebels
8   SPY                   State Intelligence
9   UAF               Unaligned Armed Forces
10  AGR                          Agriculture
11  BUS                             Business
12  CRM                             Criminal
13  CVL                             Civilian
14  DEV                          Development
15  EDU                            Education
16  ELI                               Elites
17  ENV                        Environmental
18  HLH                               Health
19  HRI                         Human Rights
20  LAB                                Labor
21  LEG                          Legislature
22  MED                                Media
23  REF                             Refugees
24  MOD                             Moderate
25  RAD                              Radical
26  AMN                Amnesty International
27  IRC                            Red Cross
28  GRP                           Greenpeace
29  UNO                       United Nations
30  PKO                         Peacekeepers
31  UIS             Unidentified State Actor
32  IGO      Inter-Governmental Organization
33  IMG      International Militarized Group
34  INT  International/Transnational Generic
35  MNC            Multinational Corporation
36  NGM            Non-Governmental Movement
37  NGO        Non-Governmental Organization
38  UIS             Unidentified State Actor
39  SET                              Settler

In [33]:
gdelt_export = pd.read_csv("gdelt_sample_export.csv")
gdelt_export

,EventCode,NumMentions,Actor1Code,Actor1Name,Actor2Code,Actor2Name,NumArticles,DATEADDED
0,20,10,NaN,NaN,CZE,PILSEN,10,20230524060000
1,80,10,NaN,NaN,OPP,PROTESTER,10,20230524060000
2,114,10,AGR,FARMER,GOV,GOVERNMENT,10,20230524060000
3,114,10,BUS,BUSINESS,GOV,GOVERNMENT,10,20230524060000
4,180,20,COP,POLICE,CRM,CRIMINAL,10,20230524060000
...,...,...,...,...,...,...,...,...
995,90,10,USA,ARKANSAS,NaN,NaN,10,20230524044500
996,40,10,LEG,GENERAL ASSEMBLY,NaN,NaN,10,20230524044500
997,114,10,ARG,ARGENTINA,NaN,NaN,10,20230524061500
998,70,10,BUS,ENTREPRENEUR,NaN,NaN,10,20230524061500
999,12,10,EUR,EUROPE,NaN,NaN,10,20230524061500

In [34]:
event_mapping_dict = event_mapping.set_index('CAMEOEVENTCODE')['EVENTDESCRIPTION'].to_dict()
actor_mapping_dict = actor_mapping.set_index('CODE')['LABEL'].to_dict()

In [35]:
# Iterate through the 'EventCode' column in gdelt_export
for i, row in gdelt_export.iterrows():
    event_code = row['EventCode']
    if event_code in event_mapping_dict:
        gdelt_export.at[i, 'EventCode'] = event_mapping_dict[event_code]
    else:
        gdelt_export.at[i, 'EventCode'] = 'NULL'

# Iterate through the 'Actor1Code' and 'Actor2Code' columns in gdelt_export
for column in ['Actor1Code', 'Actor2Code']:
    for i, row in gdelt_export.iterrows():
        actor_code = row[column]
        if actor_code in actor_mapping_dict:
            gdelt_export.at[i, column] = actor_mapping_dict[actor_code]
        else:
            gdelt_export.at[i, column] = 'NULL'

In [36]:
gdelt_export

,EventCode,NumMentions,Actor1Code,Actor1Name,Actor2Code,Actor2Name,NumArticles,DATEADDED
0,USE UNCONVENTIONAL MASS VIOLENCE,10,NULL,NaN,NULL,PILSEN,10,20230524060000
1,"Yield, not specified below",10,NULL,NaN,Political Opposition,PROTESTER,10,20230524060000
2,Complain officially,10,Agriculture,FARMER,Government,GOVERNMENT,10,20230524060000
3,Complain officially,10,Business,BUSINESS,Government,GOVERNMENT,10,20230524060000
4,"Use unconventional violence, not specified below",20,Police forces,POLICE,Criminal,CRIMINAL,10,20230524060000
...,...,...,...,...,...,...,...,...
995,"Investigate, not specified below",10,NULL,ARKANSAS,NULL,NaN,10,20230524044500
996,"Consult, not specified below",10,Legislature,GENERAL ASSEMBLY,NULL,NaN,10,20230524044500
997,Complain officially,10,NULL,ARGENTINA,NULL,NaN,10,20230524061500
998,"Provide aid, not specified below",10,Business,ENTREPRENEUR,NULL,NaN,10,20230524061500
999,REJECT,10,NULL,EUROPE,NULL,NaN,10,20230524061500