# CAMEO Code translation
This Notebook takes an export from the gdeltv2_event database as an input and translates the CAMEO codes for the events and actors into plain english.

In [14]:
import pandas as pd

In [15]:
event_mapping = pd.read_excel("cameo_event_codes.xlsx")
actor_mapping = pd.read_excel("cameo_actor_codes.xlsx")

In [16]:
event_mapping

     CAMEOEVENTCODE                                   EVENTDESCRIPTION
0                 1                              MAKE PUBLIC STATEMENT
1                10                Make statement, not specified below
2                11                                    Decline comment
3                12                           Make pessimistic comment
4                13                            Make optimistic comment
..              ...                                                ...
305             202                            Engage in mass killings
306             203                         Engage in ethnic cleansing
307             204  Use weapons of mass destruction, not specified...
308            2041   Use chemical, biological, or radiologicalweapons
309            2042                           Detonate nuclear weapons

[310 rows x 2 columns]

In [17]:
actor_mapping

   CODE                                LABEL
0   COP                        Police forces
1   GOV                           Government
2   INS                           Insurgents
3   JUD                            Judiciary
4   MIL                             Military
5   OPP                 Political Opposition
6   REB                               Rebels
7   SEP                    Separatist Rebels
8   SPY                   State Intelligence
9   UAF               Unaligned Armed Forces
10  AGR                          Agriculture
11  BUS                             Business
12  CRM                             Criminal
13  CVL                             Civilian
14  DEV                          Development
15  EDU                            Education
16  ELI                               Elites
17  ENV                        Environmental
18  HLH                               Health
19  HRI                         Human Rights
20  LAB                                Labor
21  LEG                          Legislature
22  MED                                Media
23  REF                             Refugees
24  MOD                             Moderate
25  RAD                              Radical
26  AMN                Amnesty International
27  IRC                            Red Cross
28  GRP                           Greenpeace
29  UNO                       United Nations
30  PKO                         Peacekeepers
31  UIS             Unidentified State Actor
32  IGO      Inter-Governmental Organization
33  IMG      International Militarized Group
34  INT  International/Transnational Generic
35  MNC            Multinational Corporation
36  NGM            Non-Governmental Movement
37  NGO        Non-Governmental Organization
38  UIS             Unidentified State Actor
39  SET                              Settler

In [18]:
gdelt_export = pd.read_csv("events_9_years.csv", sep=",")
gdelt_export

,EventCode,Actor1Code,Actor1Name,Actor1CountryCode,Actor2Code,Actor2Name,Actor2CountryCode,NumArticles,DATEADDED,AvgTone
0,100,GOVBUS,STATE OWNED,NaN,ARE,EMIRATI,ARE,150,20201225123000,2.150538
1,57,haw,HAWAIIAN,NaN,USA,UNITED STATES,USA,156,20151202231500,-0.441894
2,10,MLI,MALI,MLI,MAR,WESTERN SAHARA,MAR,210,20201224001500,-1.110233
3,311,IGOEUREEC,EUROPEAN UNION,EUR,GBR,UNITED KINGDOM,GBR,130,20201224170000,1.345586
4,20,BGR,SOFIA,BGR,NaN,NaN,NaN,171,20201224090000,1.938611
...,...,...,...,...,...,...,...,...,...,...
86069,1821,USAMED,ASSOCIATED PRESS,USA,USAEDU,VIRGINIA,USA,140,20150406003000,-6.524268
86070,40,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,NaN,176,20171101000000,-5.452228
86071,40,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,NaN,260,20171101000000,-5.345951
86072,42,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,NaN,130,20171106000000,-6.754638
86073,70,USAMED,ASSOCIATED PRESS,USA,USA,WASHINGTON,USA,142,20171106000000,-5.730236

In [19]:
event_mapping_dict = event_mapping.set_index('CAMEOEVENTCODE')['EVENTDESCRIPTION'].to_dict()
actor_mapping_dict = actor_mapping.set_index('CODE')['LABEL'].to_dict()

In [20]:
# Iterate through the 'EventCode' column in gdelt_export
for i, row in gdelt_export.iterrows():
    event_code = row['EventCode']
    if event_code in event_mapping_dict:
        gdelt_export.at[i, 'EventPlainEnglish'] = event_mapping_dict[event_code]
    else:
        gdelt_export.at[i, 'EventPlainEnglish'] = None

counter = 0
# Iterate through the 'Actor1Code' and 'Actor2Code' columns in gdelt_export
for column in ['Actor1Code', 'Actor2Code']:
    counter += 1

    for i, row in gdelt_export.iterrows():
        actor_code = row[column]
        if actor_code in actor_mapping_dict:
            if counter == 1:
                gdelt_export.at[i, 'Actor1PlainEnglish'] = actor_mapping_dict[actor_code]
            else:
                gdelt_export.at[i, 'Actor2PlainEnglish'] = actor_mapping_dict[actor_code]
        else:
            if counter == 1:
                gdelt_export.at[i, 'Actor1PlainEnglish'] = None
            else:
                gdelt_export.at[i, 'Actor2PlainEnglish'] = None

In [21]:
gdelt_export

,EventCode,Actor1Code,Actor1Name,Actor1CountryCode,Actor2Code,Actor2Name,Actor2CountryCode,NumArticles,DATEADDED,AvgTone,EventPlainEnglish,Actor1PlainEnglish,Actor2PlainEnglish
0,100,GOVBUS,STATE OWNED,NaN,ARE,EMIRATI,ARE,150,20201225123000,2.150538,"Demand, not specified below",NaN,NaN
1,57,haw,HAWAIIAN,NaN,USA,UNITED STATES,USA,156,20151202231500,-0.441894,Sign formal agreement,NaN,NaN
2,10,MLI,MALI,MLI,MAR,WESTERN SAHARA,MAR,210,20201224001500,-1.110233,DEMAND,NaN,NaN
3,311,IGOEUREEC,EUROPEAN UNION,EUR,GBR,UNITED KINGDOM,GBR,130,20201224170000,1.345586,Express intent to cooperate economically,NaN,NaN
4,20,BGR,SOFIA,BGR,NaN,NaN,NaN,171,20201224090000,1.938611,USE UNCONVENTIONAL MASS VIOLENCE,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86069,1821,USAMED,ASSOCIATED PRESS,USA,USAEDU,VIRGINIA,USA,140,20150406003000,-6.524268,Sexually assault,None,None
86070,40,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,NaN,176,20171101000000,-5.452228,"Consult, not specified below",None,None
86071,40,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,NaN,260,20171101000000,-5.345951,"Consult, not specified below",None,None
86072,42,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,NaN,130,20171106000000,-6.754638,Make a visit,None,None
86073,70,USAMED,ASSOCIATED PRESS,USA,USA,WASHINGTON,USA,142,20171106000000,-5.730236,"Provide aid, not specified below",None,None

In [22]:
gdelt_export.to_csv("events_9_years_decoded.csv")